/* Selects only ul elements that are direct children of an element with class NavigationBar. */
.NavigationBar > ul {
    display: flex;
    padding: 0px;
    justify-content: space-between;
}

.NavigationBar li {
    list-style-type: none;
    padding-right: 1em;
}