.NewsletterForm {
    padding: 0.5em 0em
}

/* .NewsletterForm — Selects any element with the class NewsletterForm.
[type='text'] — Selects elements (usually <input>) with the attribute type="text". */
.NewsletterForm [type='text'] {
    width:20em;
}


.NewsletterForm [type='submit'] {
    margin: 0em 0.5em; /* top/botton Left/right */
    padding: 0.75em;
    color:white;
    font-weight: 600;
    border: none;
    border-radius: 0.5em;
    background-color: rgb(22, 170, 22);
}