.StatsBar {
    display:flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 2em;
}

.StatsBar p {
    margin: 0em;
    display: flex;
    flex-direction: column;
}

.StatsBar p span:nth-child(2) {
    font-size: 0.75em;
}