.App {
  padding-left:2em; /* Adds spacing to the left */
  color: white; /* Sets text color */
  min-height: 100vh;
  display:grid; /* Enables CSS Grid */
  grid-template:
    "nav" auto /* Row 1: Area named `nav`, height auto */
    "hero" auto  /* Row 2: Area named `hero`, height auto  */
    "newsletter" auto /* Row 3: Area named `newsletter`, height auto  */
    "." minmax(4em, 1fr) /* Row 4: Spacer row (unnamed area), at least 4em high   */
    /* Row 5: Area named `stats`, height auto */
    "stats" auto / minmax(850px, 1fr); /* One column: min width 850px, max 1fr (fills space) */
}

.App a {
  text-decoration: none;
  color:white;
}

.App a:hover {
  text-decoration: underline;
}

.App > .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App .site-tools {
  display: flex;
  align-items: center;
}

.App .StatsBar {
  /* It places the .StatsBar element into the stats area of your .App grid layout. */
  grid-area: stats;
}